[submodule "plugins/activiti"]
	path = plugins/activiti
	url = https://gitee.com/cloudlakenet/activiti-plugin.git
[submodule "plugins/odata"]
	path = plugins/odata
	url = https://gitee.com/cloudlakenet/odata-plugin
[submodule "plugins/tradeunion"]
	path = plugins/tradeunion
	url = https://gitee.com/cloudlakenet/tradeunion
